/* Global Properties */

/*
* {
  border-radius: 0 !important;
}
*/

.modal-dialog {
  padding-top: 7%;
}

.card-form {
  opacity: 0.9;
}

.container-fluid {
  padding: 0 !important;
}

.blue_bg {
  background: rgb(40, 76, 143) !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.small_column p {
  margin: 0;
}

.logo {
  color: rgb(70, 122, 180);
}

/* Navigation Bar */

@media (max-width: 768px) {
  .navbar .dropdown-menu.form-wrapper {
    width: 100%;
  }
}

nav {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.dropdown {
  position: relative;
}

.navbar .form-inline {
  display: block;
}
.navbar .input-group {
  width: 100%;
}
.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
  display: block;
}

.form-control::placeholder {
  color: #bbb !important;
}

.dropdown .float-right {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

/* Landing */

.landing_page {
  background-color: #26a69a;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  background: -webkit-linear-gradient(#fdfdfd, #ffffff);
}

.register_container {
  padding: 50px 0 0 0;
}

.register {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 50px;
  height: 50px;
  margin-top: -50px;
  text-align: center;
  border-top: 1px solid #c0c0c0;
}

footer p {
  vertical-align: middle;
}

/* Project */

.assigned_container {
  overflow: auto;
  position: relative;
  margin-left: -5px;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.table {
  border: 1px solid rgb(228, 228, 228);
}

.table thead th {
  border-top: 1px solid rgb(228, 228, 228) !important;
}

.btn-link {
  cursor: pointer;
}

/* Profiles */

.profile_container {
  columns: 1 auto;
}

/* Button Group To Fill Parent */
.btn-group.fill {
  display: flex;
}

/* Priority Badges */

.larger_badge {
  font-size: 1em;
  font-weight: normal !important;
}

.yellow_badge {
  background: rgb(235, 223, 63) !important;
}

.orange_badge {
  background: rgb(219, 118, 60) !important;
}

.red_badge {
  background: rgb(224, 57, 35) !important;
}

/* Status Badges */

/* Closed */
.grey_badge {
  background: rgb(117, 117, 117) !important;
}

/* Open */
.blue_badge {
  background: rgb(29, 85, 190) !important;
}

/* In Progress */
.dyellow_badge {
  background: rgb(206, 195, 44) !important;
}

/* To Be Tested */
.green_badge {
  background: rgb(50, 134, 28) !important;
}

/*loading bar*/

.bar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 4px;
  background: #9bb2e4;
  overflow: hidden;
}
.bar div:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #3d4fb4;
  animation: box-1 2100ms cubic-bezier(0.65, 0.81, 0.73, 0.4) infinite;
}
.bar div:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: #3d4fb4;
  animation: box-2 2100ms cubic-bezier(0.16, 0.84, 0.44, 1) infinite;
  animation-delay: 1150ms;
}
@keyframes box-1 {
  0% {
    left: -35%;
    right: 100%;
  }
  60%,
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes box-2 {
  0% {
    left: -200%;
    right: 100%;
  }
  60%,
  100% {
    left: 107%;
    right: -8%;
  }
}
